.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 60px;

  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 160px;
  }
}

.header__logo {
  display: block;
  margin-bottom: 70px;
  @include font($fw: 500, $fz: 48px, $lh: 1.23, $ls: 0.2em);
  text-align: center;
  color: $main-text-color;

  @media screen and (max-width: 768px) {
    @include font($fw: 600, $fz: 42px, $lh: 1.23, $ls: 0.2em);
  }
}

.header__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.header__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 106px;
  }
}

.header__link {
  display: block;
  margin-bottom: 35px;
  @include font($fw: 400, $fz: 28px, $lh: 1.23, $ls: 0.2em);
  color: $main-text-color;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font($fw: 400, $fz: 18px, $lh: 1.23, $ls: 0.3em);
  }
}
