.hero {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-color;
  background-image: url(../images/hero.jpg);
}

.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 530px;
  padding-bottom: 305px;
}
