$background-color: #e1fefe;
$main-text-color: #333333;
$second-text-color: #bdbdbd;
$third-text-color: rgba(130, 130, 130, 1);
$footer-text-color: #ffffff;
$link-color: #4f4f4f;

$main-font: "Montserrat", sans-serif;
$accent-font: "Sacramento", cursive;
